Checks: 'bugprone-*,clang-analyzer-*,clang-diagnostic-*,misc-*,modernize-*,readability-*,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,-readability-identifier-length,-readability-implicit-bool-conversion,-readability-magic-numbers'